# Environment variables
.env

# Virtual environment
.LLMenv/
venv/
env/
__pycache__/
*.pyc

# Local databases/stores
vector_store/*
!vector_store/.gitkeep

# Data
data/*
!data/.gitkeep
!data/README.md
# Evaluation results
evaluation_results.*
